INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
*.swp
*.o
*~
doc/*.png
doc/*.info
doc/version.texi
doc/stamp-vti
doc/bino.html
pkg/macosx/Info.plist
po/POTFILES
po/remove-potcdate.sed
po/stamp-po
po/*.pot
po/*.gmo
src/*moc.cpp
src/.deps/
src/base/.deps/
src/base/libbase.a
src/bino
src/qt_resources-rcc.cpp
src/qt_resources.qrc
src/video_output_color.fs.glsl.h
src/video_output_render.fs.glsl.h
stamp-h1
/README.da
